#menu-section{
    width:100%;
    height: 50vh;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 7px dotted #14A651;
}

.menu-link-container{
    display:flex;
    justify-content: center;
}

.menu-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* menu link button style */
.menu-category{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 42px;
    font-weight: bold;
    width: 99%;
    height: 50%;
}

.menu-category-main:link, .menu-category-main:visited {
    color: #14A651;
}

.menu-category-side:link, .menu-category-side:visited {
    color: #2E3690;
}


.menu-category-main:hover, .menu-category:active{
    transition: 0.5s;
    background-color: #14A651;
    color: white;
}

.menu-category-side:hover, .menu-category:active{
    transition: 0.5s;
    background-color: #2E3690;
    color: white;
}

.menu-header {
    margin-bottom: 100px;
    padding-top: 20px;
    font-size: 42px;
}

.availability-container{
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 7px dotted #2E3690;
}

.availability-header {
    font-size: 42px;
    margin: 20px 0;
}

.availability-text{
    font-size: 24px;
}

.availability-text > strong {
    font-size: 24px;
}

.covid-hours {
    font-size: 16px;
}