.popup-background{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 2;
}

.popup-hidden{
  visibility: hidden;
}

.popup-container{
  position: absolute;
  width: 50vw;
  height:50vh;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 10px 10px 15px black;
  background-color: white;
  z-index: 1;
}

.popup-title{
  margin: 100px 0 0 0;
  font-weight: bold;
  font-size: 40px;
}

.popup-description{
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  line-height: 2em;
}

.popup-close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
  font-size: 24px;
}
