#about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin: 50px;
    height: 50vh;
    min-height: 600px;
    background: linear-gradient(-45deg, #2E3690 50%, #14A651 50%);
}

.about-header{
    font-size: 42px;
    margin-bottom: 70px;
    padding: 0;
    color: white;
}

.story-container{
    display:flex;
    align-items: center;
}

.about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.about-text > p{
    font-size: 18px;
    line-height: 2.5em;
    color: white;
    width: 80%;
}

