#about-section{
    display: flex;
    justify-content: center;
    scroll-margin: 50px;
}

.about-header{
    font-size:36px;
    padding: 0;
    margin: 0
}

.story-container{
    flex: 3;
    display:flex;
    flex-direction:column;
    margin: 50px;
    align-items: center;
    justify-content: center;;
}

.about-text{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.availabilty-container{
    /* border: 2px solid green; */
    flex:1;
    padding: 10px;
    align-items: center;
}

.availablity-sm{
    font-size: 20px;
}

.covid-hours {
    font-size: 16px;
}
