#carousel-container{
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display:flex;
    align-self: center;
}
.slide{
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.active-slide{
    opacity: 1;
    transition: 2s;
    visibility: visible;
}

.hidden-slide{
    opacity: 0;
    transition: 2s;
    visibility: hidden;
}

/* #goLeft, #goRight {
    position: absolute;
    top:0;
    width:6%;
    height: 100%;
    background: none;
    visibility: none;
    border:none;
    font-size: 50px;
    color: #14a7a4;
}


#goLeft{
    left: 0;
}
#goRight{
    right:0;
} */
