#footer-container {
    background-color: #14A651;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribute, .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}


.store-info a {
    color: white;
}

.store-info > a:visited, .store-info > a:active{
    color: white;
}

#footer-container p, #footer-container a{
    font-size: 14px;
    color: white;
}
