/* general */
*{
  text-align: center;
  font-size: 30px;
}

a{
  outline: 0;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

a:link, a:visited{
  color: black
}
a:hover, a:active{
  color: black
}

/* to disable scrolling */
.body-popup-open{
  height:100vh;
  overflow-y: hidden;
}
